$base-font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
$base-accent: #3cbab2;
$base-label-color: #728e94;
$base-link-color: #3eb8b0;
$base-icon-color: #728e94;
$base-text-color: #28484f;
$base-bg: #f5f5f5;
$base-border-color: #dedede;
$base-border-radius: 2px;
$base-success: #72d63c;
$base-warning: #ffc852;
$base-danger: #f74a5e;
$base-hover-color: #28484f;
$base-hover-bg: rgba(0, 0, 0, 0.04);
$base-focus-color: #fff;
$base-focus-bg: #3cbab2;
$base-invalid-color: #f74a5e;
$base-invalid-faded-border-color: rgba(247, 74, 94, 0.4);
$base-border-radius-small: 1px;
$base-border-radius-large: 4px;
$button-normal-color: #28484f;
$button-normal-bg: #f5f5f5;
$button-normal-border-color: #a2b4b8;
$button-default-color: #fff;
$button-default-bg: #3cbab2;
$button-default-border-color: #36a7a0;
$button-danger-color: #fff;
$button-danger-bg: #f74a5e;
$button-danger-border-color: #f63248;
$button-success-color: #fff;
$button-success-bg: #72d63c;
$button-success-border-color: #64cd2b;
$list-border-color: #dedede;
$list-group-color: #3cbab2;
$list-group-header-bg: rgba(228, 228, 228, 0.05);
$list-normal-color: #28484f;
$list-item-hover-bg: rgba(0, 0, 0, 0.04);
$list-item-selected-bg: rgba(0, 0, 0, 0.1);
$list-item-focused-selected-bg: rgba(60, 186, 178, 0.7);
$list-focused-bg: #3cbab2;
$list-item-active-bg: #3cbab2;
$fieldset-field-label-color: #728e94;
$checkbox-border-color: #dedede;
$checkbox-focused-borderd-color: #3cbab2;
$checkbox-bg: #f5f5f5;
$checkbox-hover-border-color: #2d8c86;
$checkbox-active-icon-bg: rgba(222, 222, 222, 0.4);
$button-group-normal-selected-color: #28484f;
$button-group-normal-selected-bg: rgba(0, 0, 0, 0.17);
$button-group-default-selected-color: #3cbab2;
$button-group-default-selected-bg: rgba(60, 186, 178, 0.3);
$button-group-danger-selected-color: #f74a5e;
$button-group-danger-selected-bg: rgba(247, 74, 94, 0.3);
$button-group-success-selected-color: #72d63c;
$button-group-success-selected-bg: rgba(114, 214, 60, 0.3);
$scrollable-scroll-bg: rgba(41, 128, 123, 0.8);
$scrollable-scrollbar-active-bg: rgba(222, 222, 222, 0.7);
$switch-border-color: #dedede;
$switch-on-color: #28484f;
$switch-container-active-bg: rgba(222, 222, 222, 0.4);
$switch-off-color: #83b5c0;
$tabs-tab-color: #28484f;
$tabs-tab-selected-color: #28484f;
$tabs-tab-bg: #ededed;
$tabs-tab-selected-bg: #f5f5f5;
$tabs-border-color: #dedede;
$tabs-focused-border-color: #3cbab2;
$tabs-tab-hover-bg: #f5f5f5;
$badge-color: #fff;
$badge-bg: #23ada4;
$navbar-tab-color: #28484f;
$navbar-tab-selected-color: #28484f;
$navbar-tab-bg: #ededed;
$navbar-tab-selected-bg: #f5f5f5;
$overlay-content-bg: #f5f5f5;
$overlay-shader-bg: rgba(245, 245, 245, 0.8);
$overlay-focus-border-color: #dedede;
$textbox-search-icon-color: #728e94;
$texteditor-color: #28484f;
$texteditor-placeholder-color: #a0b3b7;
$texteditor-bg: #f5f5f5;
$texteditor-filled-bg: rgba(40, 72, 79, 0.05);
$texteditor-border-color: #dedede;
$texteditor-focused-border-color: #3cbab2;
$texteditor-hover-border-color: rgba(60, 186, 178, 0.4);
$dropdowneditor-button-hover-bg: gainsboro;
$dropdowneditor-button-active-bg: darkgray;
$dropdowneditor-icon-color: #728e94;
$dropdowneditor-icon-active-color: #728e94;
$numberbox-spin-active-bg: darkgray;
$numberbox-spin-hover-border-color: transparent;
$numberbox-spin-icon-color: #728e94;
$calendar-color: #28484f;
$calendar-header-color: #83b5c0;
$calendar-cell-other-color: #a1c7d0;
$calendar-bg: #f5f5f5;
$calendar-hover-bg: rgba(0, 0, 0, 0.04);
$calendar-cell-selected-bg: #3cbab2;
$calendar-cell-active-bg: rgba(86, 86, 86, 0.2);
$calendar-border-color: #dedede;
$calendar-navigator-border-color: #a2b4b8;
$calendar-navigator-hover-border-color: #a2b4b8;
$calendar-shevron-icon-color: #3cbab2;
$loadindicator-bg: #467e8a;
$treeview-focused-bg: #3cbab2;
$treeview-hover-bg: rgba(222, 222, 222, 0.2);
$treeview-border-color: #dedede;
$treeview-item-selected-color: #28484f;
$treeview-spin-icon-color: #728e94;
$menu-popup-bg: white;
$menu-item-hover-bg: rgba(0, 0, 0, 0.04);
$menu-color: #28484f;
$menu-item-hovered-color: #28484f;
$menu-item-expanded-color: #28484f;
$menu-item-selected-bg: gainsboro;
$menu-popup-border-color: #dedede;
$selectbox-list-bg: #f5f5f5;
$toolbar-bg: #f5f5f5;
$popup-title-bg: rgba(222, 222, 222, 0.4);
$tileview-color: #28484f;
$toast-color: #fff;
$toast-info-bg: #3cbab2;
$toast-warning-bg: #ffc852;
$toast-error-bg: #f74a5e;
$toast-success-bg: #72d63c;
$progressbar-bg: #dedede;
$progressbar-range-bg: #3cbab2;
$tooltip-color: #28484f;
$tooltip-bg: white;
$tooltip-border-color: #dedede;
$slider-bar-bg: #dedede;
$slider-range-bg: #3cbab2;
$gallery-indicator-bg: #f5f5f5;
$gallery-indicator-item-selected-bg: #3cbab2;
$gallery-indicator-focused-bg: #29807b;
$gallery-navbutton-hover-color: rgba(60, 186, 178, 0.5);
$gallery-nav-arrow-color: #fff;
$gallery-navbutton-active-color: rgba(60, 186, 178, 0.7);
$loadpanel-content-bg: #f5f5f5;
$tagbox-tag-color: white;
$tagbox-tag-bg: #3cbab2;
$tagbox-tag-button-remove-bg: #04827a;
$radiogroup-checked-bg: #3cbab2;
$radiobutton-active-bg: rgba(222, 222, 222, 0.4);
$accordion-color: #28484f;
$accordion-title-color: #3cbab2;
$accordion-item-title-opened-bg: transparent;
$accordion-item-border-color: #dedede;
$accordion-item-focused-border-color: #3cbab2;
$accordion-title-active-color: #28484f;
$accordion-item-hover-bg: rgba(0, 0, 0, 0.04);
$accordion-icon-active-color: #28484f;
$colorbox-overlay-bg: #f5f5f5;
$datagrid-base-color: #28484f;
$datagrid-base-background-color: #f5f5f5;
$datagrid-border-color: #dedede;
$datagrid-columnchooser-item-color: #7eb2be;
$datagrid-columnchooser-font-weight: normal;
$datagrid-drag-header-border-color: rgba(60, 186, 178, 0.5);
$datagrid-selection-bg: #3eb8b0;
$datagrid-row-selected-border-color: #6dd0ca;
$datagrid-row-selected-color: white;
$datagrid-row-focused-color: #fff;
$datagrid-row-focused-bg: #61c6bf;
$datagrid-hover-bg: rgba(222, 222, 222, 0.4);
$datagrid-menu-icon-color: #728e94;
$datagrid-cell-modified-border-color: rgba(114, 214, 60, 0.5);
$datagrid-row-invalid-faded-border-color: rgba(247, 74, 94, 0.4);
$datagrid-nodata-color: #83b5c0;
$datagrid-group-row-color: #7eb2be;
$datagrid-group-row-bg: #f5f5f5;
$datagrid-search-color: #fff;
$datagrid-spin-icon-color: #728e94;
$datagrid-search-bg: #3cbab2;
$datagrid-row-error-color: #fff;
$datagrid-row-error-bg: #f68e9a;
$datagrid-link-color: #3eb8b0;
$datagrid-focused-border-color: #529793;
$datagrid-editor-bg: #f5f5f5;
$datagrid-columnchooser-bg: #f5f5f5;
$datagrid-row-alternation-bg: rgba(222, 222, 222, 0.4);
$datagrid-summary-color: #728e94;
$pager-page-selected-color: white;
$pager-page-selected-bg: #3eb8b0;
$pivotgrid-area-color: #7eb2be;
$pivotgrid-totalcolor: #f2f2f2;
$pivotgrid-grandtotalcolor: #e8eced;
$pivotgrid-field-area-text-color: #28484f;
$pivotgrid-spin-icon-color: #728e94;
$fileuploader-filename-color: #28484f;
$fileuploader-falename-status-color: #83b5c0;
$fileuploader-border-color: #dedede;
$scheduler-base-border-color: rgba(222, 222, 222, 0.6);
$scheduler-accent-border-color: #b5c9c8;
$scheduler-appointment-text-color: #fff;
$scheduler-appointment-base-color: #3cbab2;
$scheduler-appointment-start-color: rgba(0, 0, 0, 0.2);
$scheduler-first-month-border-color: #ababab;
$scheduler-workspace-focused-cell-color: #98ded9;
$scheduler-current-time-cell-color: #3cbab2;
$scheduler-time-indicator-color: #71d1cb;
$form-field-item-color: #728e94;
$form-group-border-color: #7eb2be;
$filterbuilder-text-color: #28484f;
$filterbuilder-text-focus-color: #fff;
$filterbuilder-plus-icon-color: rgba(114, 214, 60, 0.3);
$filterbuilder-remove-icon-color: rgba(247, 74, 94, 0.3);
$filterbuilder-group-operation-color: rgba(247, 74, 94, 0.3);
$filterbuilder-item-field-color: rgba(60, 186, 178, 0.3);
$filterbuilder-item-operator-color: rgba(114, 214, 60, 0.3);
$filterbuilder-item-value-color: rgba(222, 222, 222, 0.5);
$filterbuilder-menu-icon-color: #728e94;
$drawer-shader-background-color: rgba(0, 0, 0, 0.5);
